<%= javascript_tag do %>
  $(document).ready(function(){
    Kandan.init()
  })
<%- end %>




<div id="kandan">




    <div class="main-area">

    </div>

<!--     <div class="sidebar">
      <div class="sidebar_filler">
	     <div class="widgets"></div>
      </div>
    </div> -->


  <div id="mask">&nbsp;</div>

</div>


