<%= javascript_tag do %>
  $(document).ready(function(){
    Kandan.init()
  })
<%- end %>



<div id="kandan">


  <div id="app_body">
    <div class="main-area">

    </div>

    <div class="sidebar">
      <div class="sidebar_filler">
	     <div class="widgets"></div>
      </div>
    </div>
  </div>

  <div id="mask">&nbsp;</div>

</div>
  <div class="user_menu">
    <%= link_to 'logout', destroy_user_session_path, :method => :delete %>
  </div>

