<div class="sidebar-nav-fixed pull-right illulive_div">
	<h1> Illustrations live! </h1>
		<ul class="thumbnails">
		  <li class="span4 thumbnail">
    			<%= image_tag 'http://www.podcastscience.fm/nico/a_.jpg' %>
    			<p>Refreshed at <%= Time.now %></p>
  			</li>

</ul>






</div>