<div class="navbar navbar-fluid-top navbar-fixed-top" >
	<%= image_tag "top.png", :class => "brand"%>
  <div class="navbar-inner">
    <%= link_to "PodcastScience LIVE", root_path, :class => "brand" %>
    <ul class="nav">
      <% unless current_user.nil? then %>
        <li class="active"><iframe src="http://static.infomaniak.ch/infomaniak/radio/html/podcastscience_player.html" height="100" width="400" scrolling="no" frameborder="0" allowtransparency="true"></iframe></li>
      <% end %>
    </ul>
    <button class="pull-right btn"><%= link_to 'logout', destroy_user_session_path, :method => :delete %></div>

  </div>  
</div>   



